@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  /* background-color: #1f2937; */
}
#root{
   margin-top: 3rem;
    background-color: #1f2937;
    padding:3rem;
    
  font-family: 'Roboto', sans-serif;
}