@tailwind base;
@layer base {
  h1 {
    @apply text-2xl mb-4;
  }
  h2 {
    @apply text-xl mb-4;
  }
  h3 {
    @apply text-lg mb-4;
  }
  li {
    @apply ml-5
  }
  ol {
    @apply list-decimal
  }
 
  
  mark {
    @apply bg-cyan-400
  }

  

  #root {
    @apply dark:bg-gray-800
  }

  
 
};
@tailwind components;
@tailwind utilities;

*{
  /* background-color: #1f2937; */
}
#root{
   margin-top: 3rem;
    /* background-color: #1f2937; */
    /* background-color: aliceblue; */
  
    
    
  font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 640px){
  #root {
    padding: 3rem;
  }
}

.cdx-marker{
   background-color: rgb(34 211 238);;
}