@tailwind base;
@layer base {
  h1 {
    @apply text-2xl mb-4;
  }
  h2 {
    @apply text-xl mb-4;
  }
  h3 {
    @apply text-lg mb-4;
  }
  li {
    @apply ml-5
  }
  ol {
    @apply list-decimal
  }
  ul {
    @apply list-disc
  }
  
  mark {
    @apply bg-cyan-400
  }
 
};
@tailwind components;
@tailwind utilities;

*{
  /* background-color: #1f2937; */
}
#root{
   margin-top: 3rem;
    /* background-color: #1f2937; */
    /* background-color: aliceblue; */
    padding:3rem;
    
  font-family: 'Roboto', sans-serif;
}

.cdx-marker{
   background-color: rgb(34 211 238);;
}